---
name: Repository Linting

on:
  push:
    branches:
      - main
      - feat/*
      - fix/*
      - chore/*
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint-repository:
    uses: stuttgart-things/github-workflow-templates/.github/workflows/call-repository-linting.yaml@main
    with:
      runs-on: ubuntu-latest
      app-directory: "./"
      output-file: "/tmp/kcl-repo-findings.txt"
      continue-error: "true"
      branch-name: main
      dagger-version: "0.19.3"
      dagger-module-version: v1.15.0
      environment-name: linting
      artifact-retention-days: 30
